[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
grpcio-tools = "*"
grpcio = "*"
grpcio-opentracing = "*"
jaeger-client = "*"
faker = "*"

[requires]
python_version = "3.6"
